.russo-one-regular-title {
  font-family: "Russo One", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: mediumslateblue;
  font-size: 50px;
  text-shadow: 5px 2px lightgrey;
}

.russo-one-regular {
  font-family: "Russo One", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: peru;
  text-shadow: 1px 1px peru;
}

.navbar .navbar-brand,
.navbar .nav-link {
  color: peru !important;
}

.navbar .nav-link:hover {
  color: grey !important;
}

.share-tech-mono-regular {
  font-family: "Share Tech Mono", serif;
  font-weight: 500;
  font-style: normal;
    text-shadow: 2px 1px lightgrey;

}

.highlight {
    color: peru;
}


.btn-style {
  margin-top: 20px;
  width: 170px;
  height: 80px;
  background-color: chocolate !important;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.btn-style:hover {
  background-color: saddlebrown  ; /* Change this to your desired hover color */
  transform: scale(1.05); /* Optional: Slightly enlarges the button */
}

.btn-style span {
  display: flex;
  justify-content: center;
 text-align: center;
  margin-top:16px;
  color: white;
  font-family: 'Share Tech Mono', serif;
  font-size: 20px;
  font-weight: bold;
}







